<h1>Orders - Online Bookstore Admin</h1>

<div class="ordersDescription">
    <p>This page displays all orders and the customers associated with them.</p>
</div>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each orders.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each orders}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.customerName}}</td>
            <td>{{this.orderDate}}</td>
            <td>{{this.totalAmount}}</td>
            <td>{{this.paymentStatus}}</td>

            {{! DELETE form }}
            <form id='delete_person_form'>
                <input type='hidden' name='delete_person_id' value='{{this.id}}' />
                <input type='hidden' name='delete_person_name' value='{{this.fname}} {{this.lname}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Record a new Order</h2>
<div>
    <p>This will create an empty order with no items, but you can add the items later.</p>
</div>
<form class='cuForm' id='create_order_form'>
    <label for='create_order_customer'>Select a customer: </label>
    <select name='create_order_customer' id='create_order_customer'>
        <option value='NULL' disabled selected>Select a Customer</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each homeworlds}}
        <option value='{{this.id}}' required>
            {{this.name}}
        </option>
        {{/each}}
    </select>

    <label for='create_order_totalAmount'>Order total: </label>
    <input type='number' name='create_order_totalAmount' id='create_order_totalAmount' required />

    <label for='create_order_paymentStatus'>Current payment status: </label>
    <input type='text' name='create_order_paymentStatus' id='create_order_paymentStatus' />

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update an existing Order</h2>
<form class='cuForm' id='update_order_form'>
    <label for='update_order_customer'>Select a customer: </label>
    <select name='update_order_customer' id='update_order_customer'>
        <option value='NULL' disabled selected>Select a Customer</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each homeworlds}}
        <option value='{{this.id}}' required>
            {{this.name}}
        </option>
        {{/each}}
    </select>

    <label for='update_order_totalAmount'>Order total: </label>
    <input type='number' name='update_order_totalAmount' id='update_order_totalAmount' required />

    <label for='update_order_paymentStatus'>Current payment status: </label>
    <input type='text' name='update_order_paymentStatus' id='update_order_paymentStatus' />

    <input type='submit' />
</form>

<footer>
    &copy; 2025 Daniel Aguilar and Josh Goben
</footer>